:root {
  --respona-custom-color: #807beb;
}
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
html,
body {
  min-height: 100%;
}
body {
  position: relative;
  -webkit-font-smoothing: antialiased;
}
#view {
  position: relative;
}
.loaded #view {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-close,
.btn-close:focus {
  box-shadow: none;
  outline: 0;
}
.menu-open .modal-backdrop.show {
  opacity: 1;
}
.menu-open .modal-backdrop {
  z-index: 100;
  background-color: #fff;
}
.menu-open .modal {
  z-index: 101;
}
.modal-open:not(.menu-open) .modal {
  z-index: 2147483003;
}
.modal-open:not(.menu-open) .modal-backdrop {
  z-index: 2147483002;
}
.modal-content {
  border-radius: 0;
  border: none;
}
.respona-modal .modal-content {
  border-radius: 23px;
  border: none;
}
.respona-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0;
}
.respona-modal .modal-header .btn-close,
.respona-modal .modal-header .btn-close:focus {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  top: 25px;
  right: 25px;
  font-size: 1.5rem;
  outline: 0;
  box-shadow: none;
}
.respona-modal .modal-header,
.respona-fullscreen-modal .modal-header {
  border: none;
}
.respona-fullscreen-modal .modal-header .btn-close,
.respona-fullscreen-modal .modal-header .btn-close:focus {
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  top: 15px;
  right: 15px;
  font-size: 1rem;
  outline: 0;
  box-shadow: none;
  opacity: 1;
  z-index: 2;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.14)
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
    center/1em auto no-repeat;
}
.respona-fullscreen-modal .modal-header .btn-close:hover,
.respona-fullscreen-modal .modal-header .btn-close:focus {
  opacity: 0.8;
}
body:not(.menu-open) .modal-dialog {
  max-width: 900px;
  margin: 1.75rem auto;
  width: calc(100% - 60px);
}
body:not(.menu-open) .modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
body:not(.menu-open) .modal.fade .modal-fullscreen {
  transform: none;
}
body.single.modal-open:not(.menu-open) .modal-backdrop {
  background-color: transparent;
}
body:not(.menu-open) .respona-modal .modal-dialog {
  max-width: 1100px;
}
.respona-fullscreen-modal .modal-content {
  background: linear-gradient(85.87deg, #7f7aeb 6.73%, #221cb6 90.11%);
}
.respona-fullscreen-modal .cover {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 260px;
  object-position: 50% 50%;
  margin-top: -80px;
  transform: translateX(-30px) translateY(20px);
}
.respona-fullscreen-modal h2 {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -1px;
  font-family: var(--bs-font-medium);
}
.respona-fullscreen-modal .lead {
  letter-spacing: 0.5px;
  font-size: 0.875rem;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .respona-fullscreen-modal .modal-header .btn-close,
  .respona-fullscreen-modal .modal-header .btn-close:focus {
    width: 60px;
    height: 60px;
    top: 30px;
    right: 30px;
  }
  .respona-fullscreen-modal .row {
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .respona-fullscreen-modal h2 {
    font-size: 5rem;
    letter-spacing: -3.5px;
    font-family: var(--bs-font-semi-bold);
    margin-left: -3px;
  }
  .respona-fullscreen-modal .lead {
    font-size: 1.25rem;
    margin-left: 0;
  }
  .respona-fullscreen-modal .cover {
    margin-top: 0;
    position: absolute;
    width: 65%;
    height: 100%;
    right: 0;
    top: 50%;
    max-height: 100%;
    transform: translateY(-50%);
    object-position: 100% 50%;
  }
  .large {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 1400px) {
  .respona-fullscreen-modal h2 {
    font-size: 6rem;
  }
  .respona-fullscreen-modal .cover {
    width: 100%;
  }
}
.respona-fullscreen-modal-logo,
.respona-fullscreen-modal-logo.lazyloaded,
.respona-fullscreen-modal-title,
.respona-fullscreen-modal-desc,
.respona-fullscreen-modal-content {
  transition: none !important;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.respona-fullscreen-modal-cover {
  opacity: 0;
  transition: opacity 1s ease-out !important;
}
.respona-fullscreen-modal-cover.lazyloaded {
  opacity: 1;
}
.respona-fullscreen-modal-logo {
  animation-delay: 0.4s;
}
.respona-fullscreen-modal-title {
  animation-delay: 0.45s;
}
.respona-fullscreen-modal-desc {
  animation-delay: 0.5s;
}
.respona-fullscreen-modal-content {
  animation-delay: 0.55s;
}
.respona-fullscreen-modal-content p {
  margin-bottom: 0;
}
.modal-open:not(.menu-open) .respona-fullscreen-modal-title,
.modal-open:not(.menu-open) .respona-fullscreen-modal-desc,
.modal-open:not(.menu-open) .respona-fullscreen-modal-content {
  animation-name: swipeUp;
}
.modal-open:not(.menu-open) .respona-fullscreen-modal-cover {
  animation-name: fadeIn;
}
.respona-fullscreen-modal-content .form-wrapper {
  border-radius: 10px;
  background-color: #fff;
  padding: 0 25px;
  margin-top: 40px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  height: auto;
  overflow: hidden;
  transition: height 0.4s ease-out;
}
.respona-fullscreen-modal-content .form-wrapper .form-control,
.respona-fullscreen-modal-content .form-wrapper .form-control:focus {
  border: none;
  border-radius: 0;
  padding: 22px 0 18px;
  outline: 0;
  box-shadow: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-family: var(--bs-font-medium);
  color: #8488a0;
}
.respona-fullscreen-modal-content
  .form-wrapper
  .form-control::-webkit-input-placeholder {
  color: #8488a0;
}
.respona-fullscreen-modal-content
  .wpcf7-form.invalid
  .form-wrapper
  .form-control,
.respona-fullscreen-modal-content
  .wpcf7-form.invalid
  .form-wrapper
  .form-control::-webkit-input-placeholder {
  color: #a00;
}
.respona-fullscreen-modal-content .form-wrapper .popup-name,
.respona-fullscreen-modal-content .form-wrapper .popup-email {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  display: flex;
  align-items: center;
}
.respona-fullscreen-modal-content .form-wrapper .popup-email {
  border-bottom: none;
}
.respona-fullscreen-modal-content .form-wrapper .popup-name:before {
  content: "";
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  margin-right: 10px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../fonts/user.svg);
}
.respona-fullscreen-modal-content .form-wrapper .popup-email:before {
  content: "";
  margin-left: 2px;
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  margin-right: 12px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../fonts/email.svg);
}
.respona-fullscreen-modal-content .form-wrapper .btn-primary,
.respona-fullscreen-modal-content .form-wrapper .btn-primary:hover,
.respona-fullscreen-modal-content .form-wrapper .btn-primary:focus {
  background: #0fc4ae;
  box-shadow: 0 22px 23px -17px rgba(15, 195, 174, 0.39);
  border-radius: 10px;
  text-align: center;
  width: 100%;
  outline: 0;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 20px 30px 18px;
  height: 58px;
}
.respona-fullscreen-modal-content .form-wrapper .btn-primary:hover,
.respona-fullscreen-modal-content .form-wrapper .btn-primary:focus {
  background: #10d6bf !important;
  color: #fff !important;
}
.respona-fullscreen-modal-content .wpcf7-submit img {
  margin-top: -1px;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.respona-fullscreen-modal-content .wpcf7-response-output,
.respona-fullscreen-modal-content .wpcf7-not-valid-tip {
  display: none !important;
}
.respona-fullscreen-modal-content .wpcf7-submit + span {
  display: none;
}
.respona-fullscreen-modal-content .sent .form-group,
.respona-fullscreen-modal-content .sent .wpcf7-submit {
  display: none;
}
.respona-fullscreen-modal-content .form-wrapper .result-wrapper {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.respona-fullscreen-modal-content .form-wrapper .result-wrapper.shown {
  opacity: 1;
  display: block;
}
.respona-fullscreen-modal-content .form-wrapper .result {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.respona-fullscreen-modal-content .form-wrapper .result:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../fonts/completed.svg);
  margin-left: 0;
  margin-right: 12px;
}
.respona-fullscreen-modal-content .form-wrapper .result p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--bs-dark-2);
  margin-bottom: 0;
  max-width: 100%;
}
@media (min-width: 1024px) {
  .modal-open:not(.menu-open) .respona-fullscreen-modal-title,
  .modal-open:not(.menu-open) .respona-fullscreen-modal-desc,
  .modal-open:not(.menu-open) .respona-fullscreen-modal-logo,
  .modal-open:not(.menu-open) .respona-fullscreen-modal-content {
    animation-name: swipeRight;
  }
  .respona-fullscreen-modal-content .form-wrapper {
    margin-left: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes swipeRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes swipeLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes swipeDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes swipeUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.btn-close {
  position: absolute;
  top: -16px;
  right: -16px;
  background-color: #fff;
  opacity: 1;
  z-index: 1;
  padding: 8px;
}
.btn-link-highlight {
  position: relative;
  display: inline-block;
  color: var(--bs-primary);
  font-size: 1rem;
  font-family: oakesgrotesk-semi-bold;
  letter-spacing: 0.5px;
  margin: 0 10px;
  border-radius: 12px;
  padding: 10px 20px 8px;
  transition: background-color 0.3s ease-out;
}
.btn-link-highlight:before {
  content: "";
  position: absolute;
  display: block;
  width: calc(100% - 32px);
  height: 12px;
  left: 50%;
  bottom: 10px;
  background: rgba(37, 31, 182, 0.09);
  transform: translateX(-50%);
  transition: all 0.3s ease-out;
}
.btn-link-highlight:hover,
.btn-link-highlight:focus {
  /* background-color: rgba(37, 31, 182, 0.09); */
  outline: 0;
  box-shadow: none;
  
  
}
.btn-link-highlight:hover:before,
.btn-link-highlight:focus:before {
  opacity: 0;
}
.error404 h1 {
  font-size: 11.25rem;
  line-height: 1.27;
}
.page-child.layout h1 {
  font-size: 2.5rem;
  line-height: 1.1875;
}
@media (max-width: 991.98px) {
  .error404 h1 {
    font-size: 4rem;
  }
  .respona-modal .modal-content h2 {
    font-size: 1.5rem;
  }
  .respona-modal .modal-header .btn-close {
    font-size: 1rem;
    width: 18px;
    height: 18px;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .page-child.layout h1 {
    font-size: 3.5rem;
    line-height: 1.1875;
  }
}
@media (min-width: 1024px) {
  .col-xl-55 {
    width: 55% !important;
    flex: 0 0 auto !important;
  }
  .blogger-outreach-software .col-xl-55,
  .blogger-outreach-software-test .col-xl-55 {
    width: 50% !important;
    flex: 0 0 auto !important;
  }
  .page-child.layout h1 {
    font-size: 4rem;
    line-height: 1.1875;
  }
}
@media (min-width: 1200px) {
  .page-parent.layout h1 {
    font-size: 6rem;
  }
  .page-child.layout h1 {
    font-size: 4.5rem;
    line-height: 1.1875;
  }
}
#header {
  z-index: 200;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;

  will-change: transform;
}
.loaded #header {
  position: fixed;
}
.loaded #header {
  transition: all 0.3s ease-out, background-color 0.15s ease-out;
}
.page.terms #header,
.home2 #header,
.use-case #header,
.error404 #header,
.with-hero-gradient #header {
  background-color: transparent;
}
#header.sticky {
  background-color: #fff !important;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
}
#header.shifted {
  transform: translateY(-100%);
}

.with-hero-gradient:not(.menu-open) #header .navbar-brand svg path {
  fill: #fff;
  transition: fill 0.15s ease-in-out;
}
.with-hero-gradient:not(.menu-open) #header.sticky .navbar-brand svg path {
  fill: var(--bs-primary);
}
#topmenu .nav-link {
  font-size: 15px;
}
.with-hero-gradient:not(.menu-open) #topmenu .nav-link {
  color: #fff;
}
.with-hero-gradient:not(.menu-open) #topmenu .nav-link:hover,
.with-hero-gradient:not(.menu-open) #topmenu .nav-link:focus {
  color: var(--bs-dark-4);
}
.with-hero-gradient:not(.menu-open) #header.sticky #topmenu .nav-link {
  color: var(--bs-dark-2);
}
.with-hero-gradient:not(.menu-open) #header.sticky #topmenu .nav-link:hover,
.with-hero-gradient:not(.menu-open) #header.sticky #topmenu .nav-link:focus {
  color: var(--bs-primary);
}
#topmenu .nav-item.hiring .nav-link:after,
#mobileMenu .nav-item.hiring .nav-link:after,
#footer .widget ul li.hiring a:after {
  content: "Hiring";
  display: inline-block;
  padding: 5px 10px 3px;
  margin-left: 5px;
  border-radius: 3px;
  font-family: var(--bs-font-semi-bold);
  font-size: 11px;
  line-height: 1;
  color: var(--respona-custom-color);
  background-color: var(--bs-secondary);
  transform: translateY(-1px);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
#header #topmenu .nav-item.hiring .nav-link:hover:after,
#mobileMenu .nav-item.hiring .nav-link:hover:after {
  background-color: var(--bs-primary);
  color: #fff;
}
.with-hero-gradient:not(.menu-open)
  #header:not(.sticky)
  #topmenu
  .nav-item.hiring
  .nav-link:after {
  background: rgba(240, 239, 250, 0.19);
  color: #fff;
}
.with-hero-gradient:not(.menu-open)
  #header:not(.sticky)
  #topmenu
  .nav-item.hiring
  .nav-link:hover:after {
  background-color: #fff;
  color: var(--bs-primary);
}
.with-hero-gradient:not(.menu-open) #header:not(.sticky) .btn-outline-primary {
  color: #fff;
}
.with-hero-gradient:not(.menu-open)
  #header:not(.sticky)
  .btn-outline-primary:hover,
.with-hero-gradient:not(.menu-open)
  #header:not(.sticky)
  .btn-outline-primary:focus {
  color: var(--bs-primary);
  background-color: #fff;
  border-color: #fff;
}
.with-hero-gradient:not(.menu-open) #header:not(.sticky) .btn-primary {
  color: var(--bs-primary);
  background-color: #fff;
  border-color: #fff;
}
.with-hero-gradient:not(.menu-open) #header:not(.sticky) .btn-primary:hover,
.with-hero-gradient:not(.menu-open) #header:not(.sticky) .btn-primary:focus {
  color: var(--bs-primary);
  background-color: var(--bs-dark-4);
  border-color: var(--bs-dark-4);
}
.with-hero-gradient:not(.menu-open) #header:not(.sticky) .hamburger {
  color: #fff;
  transition: color 0.15s ease-in-out;
}
#footer .widget ul li.hiring a:after {
  background: rgba(240, 239, 250, 0.08);
}
#footer .widget ul li.hiring a:hover:after {
  background: var(--bs-secondary);
  color: var(--bs-primary);
}
#mobileMenu .nav-item.hiring .nav-link:after {
  font-size: 13px;
  transform: translateY(-2px);
  margin-left: 8px;
}
#mobileMenu .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
#mobileMenu .menu .nav-item + .nav-item {
  margin-top: 3rem;
}
#mobileMenu .menu .nav-link {
  font-size: 1.5rem;
}
#mobileMenu .menu .btn .nav-link {
  font-size: 1rem;
  line-height: 1;
  color: #fff !important;
}
#mobileMenu .menu .nav-item {
  margin: 0;
}
.navbar > div {
  min-height: 44px;
}
#header.top {
  position: absolute;
  box-shadow: none;
  padding-top: 24px;
}
#header.sticky.top {
  position: fixed;
  padding-top: 9px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
 
  .navbar-brand {
    margin-right: 91px !important;
  }
  #mobileMenu .menu .nav-item {
    margin: 0 10px;
  }
 
  #header.sticky.top,
  .loaded #header.sticky.top {
    position: absolute;
    box-shadow: none;
    padding-top: 24px;
  }
}
@media (max-width: 767.98px) {
  #header .btn {
    padding: 0.75rem 1rem 0.625rem;
    font-size: 0.75rem;
  }
  .hamburger {
    margin-left: 10px;
  }
  .navbar-brand {
    margin-right: 1rem;
    flex: 1;
  }
  .navbar-brand .logo {
    max-width: 100%;
    width: 74px;
  }
}
@media (max-width: 374.98px) {
  #header .btn {
    display: none;
  }
}
main {
  /* padding-top: 100px; */
  padding-bottom: 80px;
}
.homepage main,
.use-case main {
  /* background: linear-gradient(
    180.04deg,
    rgba(226, 225, 241, 0.3) 10.87%,
    rgba(235, 234, 247, 0) 20.97%
  ); */
  background-color: white;
}
.home2 main {
  position: relative;
}
body.glossary {
  background: #f8f9fc;
}
.glossary main {
  padding-top: 130px;
}
.integrations main {
  padding-top: 0;
}
@media (min-width: 576px) {
  .home2 main:before,
  .page.terms main:before,
  .error404 main:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 529px;
    height: 974px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/section-top-left.webp);
    z-index: -1;
  }
  .no-webp.page.terms main:before,
  .no-webp.home2 main:before,
  .no-webp.error404 main:before {
    background-image: url(../images/section-top-left.png);
  }
  .home2 main:after,
  .page.terms main:after,
  .error404 main:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 672px;
    height: 1007px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/section-top-right.webp);
    z-index: -1;
  }
  .page.terms main:after {
    top: -400px;
  }
  .no-webp.page.terms main:after,
  .no-webp.home2 main:after,
  .error404 main:after {
    background-image: url(../images/section-top-right.png);
  }
}
section {
  padding: 180px 0 50px;
}
.integrationshero {
  padding: 160px 0 80px;
}
.homehero,
.usecasehero,
.termshero {
  overflow: hidden;
  position: relative;
  padding-top: 67px;
}
.integrationshero,
.layout main {
  overflow: hidden;
  position: relative;
  padding-top: 47px;
}
.loaded .homehero,
.loaded .usecasehero,
.loaded .termshero,
.glossaryhero {
  padding-top: 100px;
}
.loaded .integrationshero,
.loaded.layout main {
  padding-top: 160px;
}
@media (max-width: 1023.98px) {
  .homehero,
  .usecasehero,
  .integrationshero,
  .termshero,
  .layout main {
    padding-top: 43px;
  }
  .loaded .homehero,
  .loaded .usecasehero,
  .glossaryhero,
  .loaded .termshero,
  .loaded .integrationshero,
  .loaded.layout main {
    padding-top: 130px;
  }
}
@media (max-width: 767.98px) {
  .homehero,
  .usecasehero,
  .integrationshero,
  .termshero,
  .layout main {
    padding-top: 53px;
  }
  .loaded .homehero,
  .loaded .usecasehero,
  .glossaryhero,
  .loaded .termshero,
  .loaded .integrationshero,
  .loaded.layout main {
    padding-top: 130px;
  }
}
.blog main,
.single main {
  padding-top: 47px;
}
.loaded.blog main,
.loaded.single main {
  padding-top: 160px;
}
@media (max-width: 1023.98px) {
  .blog main,
  .single main {
    padding-top: 43px;
  }
  .loaded.blog main,
  .loaded.single main {
    padding-top: 130px;
  }
}
@media (max-width: 767.98px) {
  .blog main,
  .single main {
    padding-top: 23px;
  }
  .loaded.blog main,
  .loaded.single main {
    padding-top: 100px;
  }
}
.usecasehero .container,
.usecasehero .container-xl,
.integrationhero .container-xl {
  position: relative;
}
.homehero h1,
.layout h1,
.glossaryhero h1,
.integrationshero h1 {
  line-height: 1;
}
.homehero h1 strong {
  display: block;
  padding: 5px 0;
}
@media (max-width: 575.98px) {
  .homehero h1 {
    font-size: 52px;
  }
}
.glossaryhero {
  background: linear-gradient(91.41deg, #7f7aeb 27.81%, #221cb6 74.43%);
}
.integrationshero .has-gradient span,
.integrationshero .has-gradient strong {
  padding: 0;
}
.integrationhero .hero-wrapper {
  padding: 15px;
  border-radius: 15px;
  background-color: var(--bs-dark-5);
}
.integrationhero .integration-category {
  padding: 12px 18px 11px;
  font-family: var(--bs-font-semi-bold);
  color: var(--bs-dark-2);
  background-color: var(--bs-dark-4);
  border-radius: 0.5rem;
  font-size: 0.75rem;
  line-height: 1;
}
.integrationhero .integration-thumbnail {
  border-radius: 20px;
  box-shadow: 0 11px 60px -3px rgba(39, 39, 39, 0.07);
  margin-right: 44px;
  width: 100%;
  height: auto;
}
.integrationhero .integration-title {
  line-height: 1;
}
@media (min-width: 1024px) {
  .integrationhero .hero-wrapper {
    padding: 58px;
  }
  .integrationhero .integration-thumbnail {
    border-radius: 27px;
    width: auto;
  }
  .integrationshero h1 {
    font-size: 4.875rem;
  }
  .integrationshero .cover {
    transform: translateY(-20%);
  }
}
@media (min-width: 1400px) {
  .integrationshero h1 {
    font-size: 6.875rem;
  }
}
.use-case h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -2.5px;
  transform: translateX(-3px);
}
.blogger-outreach-software.use-case h1,
.blogger-outreach-software-test.use-case h1 {
  font-size: 3.25rem;
}
.use-case h2.has-gradient {
  max-width: 1024px;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767.98px) {
  .use-case h1,
  .blogger-outreach-software.use-case h1,
  .blogger-outreach-software-test.use-case h1 {
    font-size: 3rem;
    letter-spacing: -2.5px;
    transform: none;
  }
  .use-case h2.has-gradient {
    font-size: 3rem;
    letter-spacing: -2.5px;
  }
}
.use-case h1 strong {
  padding: 0;
}
.homehero .cover {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1057px;
  border-radius: 23px;
  overflow: hidden;
  box-shadow: 0 13px 43px rgba(0, 0, 0, 0.12);
}
.usecasehero .cover {
  position: absolute;
  width: 62%;
  right: -5%;
}
.usecasehero .cover {
  transform: translateY(-10%);
}
.pr-software-test .usecasehero .cover {
  transform: translateY(0%);
}
.usecasehero .lead {
  max-width: 560px;
}
.usecasehero img {
  max-width: 100%;
  height: auto;
}
.usecasehero .buttons {
  display: flex;
}
@media (max-width: 1399.98px) {
  .usecasehero .cover {
    width: 55%;
  }
}
@media (min-width: 576px) {
  /* .home #view:before,
  .layout main:before,
  .usecasehero:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 486px;
    height: 1572px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/homehero-left.png);
    z-index: -1;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  } */
  .home #view:before,
  .loaded.layout main:before,
  .loaded .usecasehero:before {
    opacity: 1;
  }
  .home #view:before {
    top: 800px;
  }
  .usecasehero .buttons {
    display: block;
  }
  .no-webp .home .view:before,
  .no-webp.layout main:before {
    background-image: url(../images/homehero-left.png);
  }
  .layout main:before {
    top: 1000px;
  }
  /* .home #view:after,
  .layout main:after,
  .integrations main:after,
  .single-integration main:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 779px;
    height: 1433px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/homehero-right.webp);
    z-index: -2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  } */
  .home #view:after,
  .loaded.layout main:after,
  .loaded.integrations main:after,
  .loaded.single-integration main:after {
    opacity: 0.5;
  }
  .home #view:after {
    top: 400px;
    bottom: auto;
  }
  .integrations main:after,
  .single-integration main:after {
    bottom: auto;
    top: 10%;
  }
  .layout main:after {
    top: 400px;
    bottom: auto;
    right: 0;
  }
  /* .no-webp .home #view:after,
  .no-webp.layout main:after,
  .no-webp.integrations main:after,
  .single-integration main:after {
    background-image: url(../images/homehero-right.png);
  } */
  .homehero .cover {
    box-shadow: 0 84px 208px -62px rgba(172, 189, 197, 0.44);
  }
}
@media (max-width: 767.98px) {
  main {
    padding-top: 80px;
  }
  .home2 main {
    padding-top: 100px;
  }
  .homehero {
    padding-bottom: 64px;
  }
  .home #view:before,
  .layout main:before {
    top: 60%;
    width: 300px;
    height: 1000px;
  }
  .home .view:after,
  .layout main:after {
    width: 300px;
    height: 555px;
  }
  .layout main:before,
  .layout main:after {
    display: none;
  }
  .layout h1 span {
    display: block;
  }
  .usecasehero .lead {
    font-size: 1.125rem;
  }
}
.pulse-button .cover {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1057px;
  border-radius: 23px;
  overflow: hidden;
  box-shadow: 0 13px 43px rgb(0 0 0/12%);
}
.btn.pulse,
.btn.pulse:focus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background-color: var(--bs-primary);
  box-shadow: 0 -10px 47px rgba(0, 0, 0, 0.06);
  outline: 0;
}
.btn.pulse span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 92px;
  height: 92px;
  line-height: 92px;
  border-radius: 50%;
  background-color: var(--bs-primary);
  transition: transform 0.5s ease-out;
}
.btn.pulse:hover span,
.btn.pulse:focus span {
  transform: scale(1.05);
}
.btn.pulse::after,
.btn.pulse::before {
  content: "";
  position: absolute;
  border: 1px solid rgb(37, 31, 182, 0.5);
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  z-index: -1;
}
.btn.pulse:hover::after,
.btn.pulse:hover::before {
  animation: pulse 3s linear infinite;
}
.btn.pulse:hover::after {
  animation-delay: 1.5s;
}
.btn.pulse svg {
  margin-left: 5px;
}
@media (min-width: 576px) {
  .pulse-button .cover {
    box-shadow: 0 84px 208px -62px rgb(172 189 197/44%);
  }
}
@media (min-width: 1024px) {
  .btn.pulse,
  .btn.pulse:focus,
  .btn.pulse span {
    width: 166px;
    height: 166px;
    line-height: 166px;
  }
}
.watch-link {
  font-size: 0.875rem;
  line-height: 1.4;
}
.wp-block-video {
  max-width: 1100px;
  position: relative;
  padding-top: 619px;
  margin: 100px auto 160px;
  background: #fefefe;
  border: 1px solid rgba(197, 218, 237, 0.48);
  box-sizing: border-box;
  box-shadow: 0 84px 208px -62px rgba(172, 189, 197, 0.44);
  border-radius: 25px;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .wp-block-video {
    padding-top: 56.25%;
  }
}
.wp-block-video video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0.75;
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.75;
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
@media (min-width: 1024px) {
  .homehero h1,
  .layout h1 {
    line-height: 1;
  }
  .homehero .btn {
    padding: 20px 45px 18px;
  }
}
@media (min-width: 768px) {
  .pulse-button {
    margin-top: 100px;
  }
}
.brands p {
  letter-spacing: 3.5px;
  font-size: 0.675rem;
}
.brands img {
  max-width: 100%;
  height: auto;
  opacity: 0;
  transition: all 0.3s ease-out;
  filter: brightness(0) grayscale(1);
  object-fit: contain;
  height: 30px;
}
.brands img.lazyloaded {
  opacity: 0.5;
}
.usecasehero .brands {
  margin-top: 50px;
}
.brands {
  margin-top: 20px;
}
@media (min-width: 768px) {
 
  .brands p {
    font-size: 0.75rem;
  }
  .brands img {
    max-width: 140px;
  }
}
@media (min-width: 1024px) {
  .usecasehero .brands {
    margin-top: 150px;
  }
}
@media (min-width: 1400px) {
  .usecasehero .brands {
    margin-top: 200px;
  }
  .blogger-outreach-software .usecasehero .brands,
  .blogger-outreach-software-test .usecasehero .brands,
  .cold-email-software-test .usecasehero .brands,
  .cold-email-software .usecasehero .brands {
    margin-top: 200px;
  }
}
.single-case-studies aside {
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .single-case-studies aside {
    max-width: 270px;
    margin-left: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
  }
}
.single-case-studies aside .widget {
  font-size: 0.875rem;
  line-height: 1.96;
  font-family: var(--bs-font-medium);
}
.single-case-studies aside .widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.single-case-studies aside .widget ul li {
  color: var(--bs-body);
  font-size: 0.875rem;
  margin-right: 15px;
}
.single-case-studies aside .widget ul li a {
  color: var(--bs-body);
  font-size: 0.875rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.single-case-studies aside .widget ul li a:focus,
.single-case-studies aside .widget ul li a:hover {
  color: var(--respona-custom-color);
}
.single-case-studies aside .widget h5 {
  font-size: 1rem;
  line-height: 1.4;
  font-family: var(--bs-font-medium);
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.single-case-studies aside .btn-link-highlight {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
}
.single-case-studies aside .btn-link-highlight::before {
  width: 100%;
}
@media (min-width: 1024px) {
  .single-case-studies aside .widget ul {
    display: block;
  }
  .single-case-studies aside .widget ul li {
    margin-right: 0;
  }
  .single-case-studies aside .widget ul li + li {
    margin-top: 10px;
  }
}
#footer {
  padding: 100px 0 0;
  background: var(--bs-dark-1);
}
.social {
  list-style: none;
}
.social li + li {
  margin-left: 26px;
}
.social li a {
  display: block;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease-out;
  opacity: 0.5;
}
.social li a:hover,
.social li a:focus {
  opacity: 1;
}
#footer .widget .widget-title {
  color: #fff;
  font-size: 0.875rem;
  line-height: 2.625rem;
  letter-spacing: 4px;
}
#footer .widget ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .widget ul li + li {
  margin-top: 1rem;
}
#footer .widget ul li a {
  color: var(--bs-light);
  font-family: oakesgrotesk-medium, sans-serif;
  font-weight: 400;
  transition: color 0.3s ease-out;
}
#footer .widget ul li a:hover,
#footer .widget ul li a:focus {
  color: #fff;
}
@media (min-width: 1024px) {
  #footer {
    padding: 150px 0;
  }
}
.calendly-inline-widget {
  min-width: 320px;
  height: 700px;
  margin: 50px -20px;
  overflow-y: hidden !important;
}
@media (max-width: 991.98px) {
  .calendly-inline-widget {
    height: 1100px;
  }
}
.respona-modal .modal-body .calendly-inline-widget {
  margin: 0 -1rem;
}
.subscription {
  position: relative;
}
.subscription .form-wrapper .form-control {
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  background: 0 0;
  border: 1px solid var(--bs-secondary);
  border-radius: 8px;
  padding: 11px 14px 9px;
  margin-bottom: 10px;
  color: var(--bs-dark-2);
  font-family: oakesgrotesk-medium, sans-serif;
  transition: all 0.15s ease-out;
}
.subscription .wpcf7-form.invalid .form-wrapper .form-control {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: rgba(255, 0, 0, 0.1);
}
.subscription .form-wrapper .form-control:focus {
  outline: 0;
  box-shadow: none;
}
.subscription .form-wrapper .btn {
  width: 100%;
  font-size: 0.75rem;
  border-color: var(--bs-secondary);
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
  box-shadow: none;
  padding-top: 11px;
  padding-bottom: 10px;
}
.subscription .form-wrapper .btn:hover,
.subscription .form-wrapper .btn:focus {
  background: 0 0;
  color: var(--bs-primary);
}
.subscription .wpcf7-response-output,
.subscription .wpcf7-not-valid-tip {
  display: none !important;
}
.subscription .form-wrapper .result-wrapper {
  display: none;
}
.subscription .form-wrapper .result {
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.subscription .form-wrapper .result:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  flex: 0 0 auto;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../fonts/completed.svg);
  margin-left: 0;
  margin-right: 12px;
}
.subscription .form-wrapper .result p {
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--bs-dark-3);
  margin-bottom: 0;
  max-width: 100%;
}
.reading-progress {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 4px;
  top: 72px;
  background-color: transparent;
  overflow: hidden;
  opacity: 0;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
.loaded .reading-progress {
  animation-name: fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blog .reading-progress {
  display: none;
}
@media (max-width: 1023.98px) {
  .subscription .form-wrapper .result {
    text-align: center;
    display: block;
  }
  .subscription .form-wrapper .result:before {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
}
.reading-progress > div {
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bs-primary);
}
@media (max-width: 767.98px) {
  .reading-progress {
    top: 62px;
  }
}
.respona-load-more {
  position: relative;
  height: 52px;
}
.respona-more-button {
  padding: 16px 35px 14px;
}
.respona-loader-wrapper {
  position: relative;
  display: none;
  height: 52px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  z-index: 2;
}
.respona-loader-wrapper .respona-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
}
.respona-loader-wrapper .respona-loader.top {
  background: 0 0;
  padding-top: 100px;
}
.respona-loader-wrapper .respona-loader img {
  width: 20px;
  height: 20px;
}
.respona-breadcrumb-wrapper .respona-breadcrumb {
  text-align: center;
  margin-bottom: 65px;
  margin-top: 30px;
}
.page-parent .respona-breadcrumb-wrapper .respona-breadcrumb,
.page-child .respona-breadcrumb-wrapper .respona-breadcrumb {
  margin-bottom: 30px;
}
.respona-breadcrumb {
  font-size: 0.75rem;
  line-height: 1.5;
  font-family: oakesgrotesk-semi-bold, sans-serif;
  color: var(--bs-dark-3);
}
.respona-breadcrumb .item-bread a {
  color: var(--bs-dark-2);
}
.single-glossary-term .respona-breadcrumb .item-bread a {
  color: var(--bs-dark-3);
}
.single-glossary-term .respona-breadcrumb .item-bread a:hover,
.single-glossary-term .respona-breadcrumb .item-bread a:focus {
  color: var(--bs-purple);
}
.respona-breadcrumb .item-bread + .item-bread {
  display: inline;
}
.respona-breadcrumb .item-bread.delimiter:before,
.respona-breadcrumb .item-bread + .item-bread:before {
  content: "";
  display: inline-block;
  margin: 0 3px;
  flex: 0 0 auto;
  width: 24px;
  height: 12px;
  transform: translateY(2px);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  background-image: url(../fonts/crumb.svg);
}
.single-glossary-term .respona-breadcrumb .item-bread.delimiter:before,
.single-glossary-term .respona-breadcrumb .item-bread + .item-bread:before {
  background-image: none;
  background-color: var(--bs-dark-4);
  width: 4px;
  height: 4px;
  margin: 0 0.75rem;
  border-radius: 50%;
  transform: translateY(-2px);
}
@media (max-width: 767.98px) {
  .respona-breadcrumb-wrapper .respona-breadcrumb {
    margin-bottom: 30px;
  }
}
.single .recent-posts h2 {
  color: var(--bs-heading-1);
}
article.casehero {
  margin-bottom: 60px;
}
.single article.casehero {
  margin-bottom: 30px;
}
article.casehero h1.entry-title {
  font-size: 55px;
  line-height: 1.45;
  margin-bottom: 42px;
  letter-spacing: -2.5px;
  transform: translateX(-3px);
}
article.casehero .entry-title a {
  color: var(--bs-heading-1);
  transition: color 0.15s ease-out;
}
article.casehero .entry-title a:hover,
article.casehero .entry-title a:focus {
  color: var(--respona-custom-color);
}
article.casehero .cover {
  background-color: var(--bs-secondary);
  position: relative;
  padding-top: 100%;
  overflow: hidden;

  border-radius: 33px;
}
article.case .cover > .thumb-cover,
article.casehero .cover > .thumb-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 33px;
  object-fit: cover;
  object-position: center 0;
  transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
article.case .cover > .thumb,
article.casehero .cover > .thumb {
  opacity: 0;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 150px;
  height: 150px;
  padding: 30px;
  border-radius: 29px;
  background-color: #fff;
  object-fit: contain;
  object-position: center center;
  transition: transform 2s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
article.case.dark .cover > .thumb,
article.casehero.dark .cover > .thumb {
  background-color: #050505;
}
article.case .cover > img.lazyloaded,
article.casehero .cover > img.lazyloaded {
  opacity: 1;
}
article.case a:hover .cover > .thumb,
article.case a:focus .cover > .thumb,
article.casehero a:hover .cover > .thumb,
article.casehero a:focus .cover > .thumb {
  transform: scale(1.05);
}
article.case .entry-meta ul,
article.casehero .entry-meta ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
article.case .entry-meta ul li,
article.casehero .entry-meta ul li {
  font-size: 0.75rem;
  line-height: 1;
  color: var(--bs-dark-3);
  font-family: oakesgrotesk-semi-bold, sans-serif;
}
article.case .entry-meta ul li .category,
article.casehero .entry-meta ul li .category {
  color: var(--bs-dark-2);
  display: inline-block;
  padding: 14px 13px 12px;
  border-radius: 8px;
  background-color: var(--bs-dark-4);
  border: 1px solid var(--bs-dark-4);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
article.case .entry-meta ul li + li,
article.casehero .entry-meta ul li + li {
  margin-left: 15px;
  padding-left: 15px;
  position: relative;
  height: 40px;
  line-height: 40px;
}
article.case .entry-meta ul li + li:before,
article.casehero .entry-meta ul li + li:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--bs-dark-4);
}
article.casehero .entry-excerpt p {
  font-size: 1.25rem;
  line-height: 1.825;
  color: var(--bs-dark-2);
}
article.case {
  margin-bottom: 130px;
}
article.case h3.entry-title {
  font-family: oakesgrotesk-medium, sans-serif;
  letter-spacing: 0.5px;
  font-size: 30px;
  line-height: 1.68;
  margin-bottom: 0.5rem;
}
article.case .entry-title a {
  color: var(--bs-heading-1);
  transition: color 0.15s ease-out;
}
article.case .entry-title a:hover,
article.case .entry-title a:focus {
  color: var(--respona-custom-color);
}
article.case .cover {
  background-color: var(--bs-secondary);
  position: relative;
  padding-top: 85%;
  overflow: hidden;

  border-radius: 33px;
}
article.case .cover > .thumb {
  width: 110px;
  height: 110px;
  padding: 15px;
}
article.case .btn-link-highlight {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
article.case .btn-link-highlight::before {
  width: 100%;
}
@media (max-width: 1400px) {
  article.casehero h1.entry-title {
    font-size: 42px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1023.99px) {
  article.casehero .cover {
    padding-top: 85%;
  }
  article.casehero h1.entry-title {
    font-family: oakesgrotesk-medium, sans-serif;
    letter-spacing: 0.5px;
    font-size: 30px;
    line-height: 1.68;
    margin-bottom: 30px;
    transform: none;
  }
  article.case {
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  article.casehero {
    margin-top: 30px;
  }
  article.casehero h1.entry-title,
  article.case h3.entry-title {
    font-family: oakesgrotesk-medium, sans-serif;
    font-size: 20px;
  }
  article.case .btn-link-highlight {
    font-size: 0.875rem;
  }
  article.casehero .cover > .thumb,
  article.case .cover > .thumb {
    width: 80px;
    height: 80px;
    bottom: 15px;
    left: 15px;
    padding: 15px;
  }
  article.casehero .entry-excerpt p {
    font-size: 1rem;
  }
}
.single-case-studies .entry-content h2:first-child {
  margin-top: 0;
}
.single-case-studies .entry-content h2 {
  font-size: 2.8125rem;
  line-height: 1.27;
  letter-spacing: -1px;
  margin: 76px 0 24px;
  color: var(--bs-heading-1);
}
.single-case-studies .entry-content h3 {
  font-size: 1.875rem;
  line-height: 1.6;
  margin: 60px 0 20px;
  color: var(--bs-heading-1);
}
.single-case-studies .entry-content h5,
.single-case-studies .entry-content h4 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: var(--bs-heading-1);
  font-family: oakesgrotesk-medium, sans-serif;
}
.single-case-studies .entry-content p {
  font-size: 1.125rem;
  line-height: 1.6;
  font-family: oakesgrotesk-regular, sans-serif;
  color: #333;
}
.single-case-studies .entry-content p a,
.single-case-studies .entry-content ul li a,
.single-case-studies .entry-content ol li a {
  text-decoration: underline;
}
.single-case-studies .entry-content .wp-block-columns {
  margin-bottom: 50px;
}
.single-case-studies .entry-content .case-results h3 {
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -3.5px;
  color: var(--bs-heading-1);
}
.single-case-studies .entry-content .case-results p {
  font-size: 1rem;
  line-height: 1.78;
  letter-spacing: 0.5px;
  font-family: oakesgrotesk-medium, sans-serif;
}
@media (max-width: 767.98px) {
  .single-case-studies .entry-content .case-results h3 {
    font-size: 4rem;
    letter-spacing: -2.5px;
  }
}
.single-case-studies .entry-content .case-testimonial,
.single .entry-content .case-testimonial {
  border-top: 1px solid var(--bs-dark-4);
  border-bottom: 1px solid var(--bs-dark-4);
  padding: 50px 0;
  margin: 50px 0;
}
.single-case-studies .entry-content .case-testimonial .author img,
.single .entry-content .case-testimonial .author img {
  border-radius: 50px;
  margin-right: 18px;
}
.single-case-studies .entry-content .case-testimonial .author h6,
.single-case-studies .entry-content .case-testimonial .author p,
.single .entry-content .case-testimonial .author h6,
.single .entry-content .case-testimonial .author p {
  font-family: oakesgrotesk-medium, sans-serif;
  color: var(--bs-body);
  font-size: 1rem;
}
.single-case-studies .entry-content blockquote,
.single .entry-content .case-testimonial blockquote {
  margin: 0 0 30px;
  position: relative;
}
.single-case-studies .entry-content blockquote,
.single-case-studies .entry-content blockquote p,
.single .entry-content .case-testimonial blockquote,
.single .entry-content .case-testimonial blockquote p {
  font-size: 1.5rem;
  color: var(--bs-dark-1);
  font-family: oakesgrotesk-mediumitalic, sans-serif;
  padding: 0;
}
.single .entry-content .case-testimonial blockquote:before {
  display: none;
}
.single-case-studies .entry-content figure.aligncenter {
  text-align: center;
}
.single-case-studies .entry-content figure.alignright {
  text-align: right;
}
.single-case-studies .entry-content figure img + figcaption {
  font-size: 0.875rem;
  line-height: 1.825;
  letter-spacing: 0.5px;
  font-family: oakesgrotesk-medium, sans-serif;
  color: var(--bs-dark-1);
  text-align: center;
  margin-top: -30px;
  margin-bottom: 30px;
}
.single-case-studies .entry-content img {
  max-width: 100%;
  height: auto;
}
.single-case-studies .entry-content figure img {
  max-width: 100%;
  height: auto;
  margin: 38px 0 56px;
  display: inline-block;
  border-radius: 10px;
}
.single-case-studies .entry-content ul,
.single-case-studies .entry-content ol {
  list-style: none;
  padding: 0;
  margin: 36px 0;
}
.single-case-studies .entry-content ol {
  counter-reset: respona-counter;
}
.single-case-studies .entry-content ul li,
.single-case-studies .entry-content ol li {
  position: relative;
  font-size: 1rem;
  line-height: 1.6;
  font-family: oakesgrotesk-medium, sans-serif;
  color: #333;
  margin-bottom: 9px;
}
.single-case-studies .entry-content ul li {
  padding-left: 21px;
}
.single-case-studies .entry-content ol li {
  counter-increment: respona-counter;
  padding-left: 48px;
  margin-bottom: 20px;
}
.single-case-studies .entry-content ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  display: block;
  width: 9px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--bs-primary);
}
.single-case-studies .entry-content ol li:before {
  content: counter(respona-counter) ".";
  position: absolute;
  left: 0;
  top: -6px;
  font-size: 1rem;
  display: flex;
  padding: 8px 0 6px;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 14px;
  color: var(--bs-primary);
  background-color: var(--bs-secondary);
}
.page.terms main {
  padding-top: 80px;
}
.page.terms .termshero {
  margin-bottom: 0;
  padding-bottom: 40px;
}
.page.terms .termshero h1 {
  font-size: 6.875rem;
  line-height: 1.18;
  margin-bottom: 0;
  letter-spacing: -3.5px;
  transform: translateX(-3px);
}
article.term h3 {
  font-size: 2.8125rem;
  line-height: 1.27;
  letter-spacing: -1px;
  display: flex;
  margin-bottom: 1rem;
}
article.term h3 + p {
  padding-left: 80px;
}
article.term > ol,
article.term > ol > li > ol {
  counter-reset: item;
  padding: 0;
}
article.term > ol > li,
article.term > ol > li > ol > li {
  display: block;
  margin-bottom: 55px;
}
article.term > ol > li:before,
article.term > ol > li > ol > li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
}
article.term > ol > li:before {
  content: "";
  counter-increment: item;
}
article.term ol > li > ol {
  padding-left: 80px;
}
article.term ol > li > ol > li {
  position: relative;
}
article.term ol > li > ol > li:before {
  position: absolute;
  width: 48px;
  left: -80px;
  top: 5px;
  text-align: center;
  font-size: 0.875rem;
  font-family: var(--bs-font-bold);
  color: var(--bs-primary);
}
article.term ol > li > ol > li > ul {
  counter-reset: list;
  padding: 0;
}
article.term ol > li > ol > li > ul > li {
  list-style: none;
  counter-increment: list;
}
article.term ol > li > ol > li > ol li,
article.term ol > li > ol > li > ul li {
  position: relative;
  margin-bottom: 14px;
  padding-left: 38px;
}
article.term ol > li > ol > li > ol li:before,
article.term ol > li > ol > li > ul li:before {
  content: counter(list, lower-alpha);
  position: absolute;
  left: 2px;
  top: 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 6px;
  font-size: 0.75rem;
  padding-top: 1px;
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
  font-family: var(--bs-font-bold);
  text-align: center;
}
article.term li,
article.term li p {
  font-size: 1.25rem;
  line-height: 1.825;
  color: var(--bs-dark-1);
}
article.term > ol > li h3:before {
  content: counters(item, ".") " ";
  flex: 0 0 auto;
  margin-right: 30px;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  padding-top: 3px;
  border-radius: 14px;
  font-size: 1.125rem;
  background-color: var(--bs-secondary);
  font-family: var(--bs-font-bold);
  text-align: center;
  color: var(--bs-primary);
}
article.term > ol > li h4 {
  font-family: var(--bs-font-medium);
  font-size: 1.875rem;
  line-height: 1.66;
  color: var(--bs-dark-1);
}
.page.terms aside {
  position: sticky;
  position: -webkit-sticky;
  top: 110px;
}
.page.terms aside .respona-toc-link {
  margin-right: 0;
  margin-left: auto;
  padding: 12px;
  border-radius: 13px;
  border: none;
}
.page.terms aside .respona-toc-links ol {
  counter-reset: side;
  padding: 0;
}
.page.terms aside .respona-toc-links ol > li a {
  display: flex;
  align-items: center;
}
.page.terms aside .respona-toc-links ol > li a:before {
  content: counters(side, ".") " ";
  counter-increment: side;
  left: 2px;
  top: 5px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  flex: 0 0 auto;
  border-radius: 6px;
  font-size: 0.75rem;
  margin-right: 14px;
  padding-top: 1px;
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
  font-family: var(--bs-font-bold);
  text-align: center;
  transition: background-color 0.2s ease-out;
}
.page.terms aside .respona-toc-links ol > li a.active:before {
  background-color: #fff;
}
@media (max-width: 991.98px) {
  article.term li,
  article.term li p {
    font-size: 1rem;
  }
  article.term h3 {
    font-size: 2rem;
  }
  article.term h3 + p {
    padding-left: 56px;
  }
  article.term > ol > li,
  article.term > ol > li > ol > li {
    margin-bottom: 30px;
  }
  article.term > ol > li h3:before {
    font-size: 1rem;
    margin-right: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
  }
  article.term ol > li > ol {
    padding-left: 56px;
  }
  article.term ol > li > ol > li:before {
    width: 36px;
    left: -56px;
    top: 2px;
  }
  article.term > ol > li h4 {
    font-size: 1.25rem;
    line-height: 1.33;
    margin-bottom: 20px;
  }
  article.term ol > li > ol > li > ol li:before,
  article.term ol > li > ol > li > ul li:before {
    top: 2px;
  }
}
@media (max-width: 767.98px) {
  .page.terms main {
    padding-top: 0;
  }
  .page.terms .termshero {
    padding-top: 120px;
    margin-bottom: 50px;
  }
  .page.terms .termshero h1 {
    font-size: 3rem;
    letter-spacing: -2.5px;
    transform: none;
  }
}
[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}
.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}
.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}
.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}
.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}
.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}
.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}
.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}
[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}
[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}
.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}
.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #000;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  transition: opacity 0s linear;
}
.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}
.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}
[data-simplebar-direction="rtl"] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}
.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.simplebar-scrollbar::before {
  background-color: var(--bs-secondary);
}
.simplebar-track.simplebar-vertical {
  width: 8px;
}


  
  
  
 


  
  .custom-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .custom-dropdown-toggle {
    
    color: #212529;
    padding: 8px 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .custom-dropdown-menu {
    display: none;
    position: absolute;
   padding: 20px;
    background-color: #f8f9fa;
    min-width: 560px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 15px;
        margin-left: -200px;
   
  }
  
  .custom-dropdown-menu.show {
    display: block;

  }
  
  .custom-dropdown-item {
    color: #212529;
    text-decoration: none;
    padding: 20px;

  }
  .navbar_child{
    padding-left:10px;
    margin-bottom: 20px;
  }
  
  .navbar_child:hover {
  cursor: pointer;
  background-color: #2b32f026;
  color: #212529;
  border-radius: 10px;
 
  }
  .drop-menu{
    display: flex;
    justify-content: space-around;
  padding-top: 20px;
   
  }

  

  .card {
cursor: pointer;
  transition: all 0.5s;
  transform-origin: center;
}

.card:hover {
  animation: resize .3s ease forwards;
}

@keyframes resize {
  0% {
      transform: scale(1)
  }

  50% {
      transform: scale(.98)
  }

  100% {
      transform: scale(1)
  }
}

.video-container {
  position: relative;
  border-radius: 15px;
  
  
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.video-container > img {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  border-radius: 15px;
  object-fit: cover;
}

.video-container:hover img {
  display: none;
}

.video-container:hover video {
  cursor: pointer;
}

.shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}