<!DOCTYPE html>
<html lang="en-US">
  <head>
 
    <title>Postify - Plans and Pricing</title>
    <meta charset="UTF-8" />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#00bcb0" />
    <meta name="keywords" content="Postify, AI-powered social media management, streamline workflow, reduce time spent, repetitive tasks, important aspects of your business, social media management, workflow optimization, time-saving, business productivity" />
    <meta name="ahrefs-site-verification" content="2c86133f2a4cce59c9889badc10a785475cff85be7ecba8bc8006d2e1eb9bf61" />
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"/>
    <meta name="description" content="Postify - With AI-powered social media management, you can streamline your workflow and reduce the time spent on repetitive tasks, allowing you to focus on more important aspects of your business"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Postify" />
    <meta property="og:description" content="Postify - With AI-powered social media management, you can streamline your workflow and reduce the time spent on repetitive tasks, allowing you to focus on more important aspects of your business"/>
    <meta property="og:url" content="https://www.postify.app/" />
    <meta property="og:site_name" content="Postify" />
    <meta property="article:modified_time" content="2023-01-11T17:29:03+00:00" />
    <meta property="og:image" content="/images/Dashboard.svg" />
    <meta property="og:image:width" content="1440" />
    <meta property="og:image:height" content="892" />
    <meta property="og:image:type" content="image/svg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Est. reading time" />
    <meta name="twitter:data1" content="1 minute" />
    <link rel="preload" href="/media/dashboard_video.mp4" as="video">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com" />
    <link rel="stylesheet" id="fonts-css" href="/css/fonts.css" media="all" />
    <link rel="stylesheet" id="respona-style-css" href="/css/style.css" media="all"/>
    <link rel="stylesheet" id="bootstrap-css" href="/css/bootstrap.min.css" media="all"/>
    <link rel="stylesheet" id="respona-flickity-css" href="/css/flickity.css" media="all" />
    <link rel="stylesheet" id="respona-core-css" href="/css/postify-core.css" media="all" />
    <link rel="icon" href="/images/amblem.svg" sizes="32x32" />
    <link rel="icon"href="/images/amblem.svg" sizes="192x192"/>
    <link rel="apple-touch-icon" href="/images/amblem.svg" />
  </head>
  <body
    class="page d-flex flex-column no-webp layout group-blog unknown-os unknown-browser">
    <div id="view" class="flex-grow-1">
      <!-- mobil navbar -->
      <div class="modal fade" id="mobileMenu" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content d-flex">
            <div
              class="container flex-grow-1 d-flex align-items-center justify-content-center"
            >
              <ul id="menu-main-menu" class="menu">
                <li class="nav-item">
                  <a
                    href="/"
                    class="nav-link"
                    data-wpel-link="internal"
                    target="_self"
                    rel="follow"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <div class="dropdown">
                    <div class="d-flex align-items-center">
                      <a
                        class="custom-dropdown-toggle nav-link"
                        id="featuresDropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <!-- dropdown-toggle -->
                        Product
                      </a>
                      <svg
                        fill="#525979"
                        height="6"
                        viewBox="0 0 11 7"
                        width="11"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="m5.414 6.414c-.256 0-.512-.098-.707-.293l-4.707-4.707 1.414-1.414 4 4 4-4 1.414 1.414-4.707 4.707c-.195.195-.451.293-.707.293z"
                          fill="#525979"
                        />
                      </svg>
                    </div>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="featuresDropdown"
                    >
                      <a class="dropdown-item" href="/publish">Publisher </a>

                      <a class="dropdown-item" href="/analytics">Analytics</a>
                      <a class="dropdown-item" href="/customer-engagement">Customer Engagement</a>
                      <a class="dropdown-item" href="/ai-creativity">AI Creativity Content</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="custom-dropdown">
                    <div class="d-flex align-items-center">
                      <a
                        class="custom-dropdown-toggle nav-link"
                        id="customFeaturesDropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Channels
                      </a>
                      <svg
                        fill="#525979"
                        height="6"
                        viewBox="0 0 11 7"
                        width="11"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="m5.414 6.414c-.256 0-.512-.098-.707-.293l-4.707-4.707 1.414-1.414 4 4 4-4 1.414 1.414-4.707 4.707c-.195.195-.451.293-.707.293z"
                          fill="#525979"
                        />
                      </svg>
                    </div>
                    <div
                      class="custom-dropdown-menu"
                      aria-labelledby="customFeaturesDropdown"
                    >
                      <a class="custom-dropdown-item" href="/chanels/facebook/">Facebook</a>
                      <a class="custom-dropdown-item" href="/chanels/instagram/">Instagram</a>
                      <a class="custom-dropdown-item" href="/chanels/twitter/">Twitter</a>
                      <a class="custom-dropdown-item" href="/chanels/linkedin/">LinkedIn</a>
                    </div>
                  </div>
                </li>
                <li class="nav-item">
                  <a
                    href="/pricing/"
                    class="nav-link"
                    data-wpel-link="internal"
                    target="_self"
                    rel="follow"
                    >Pricing</a
                  >
                </li>

                <li class="d-lg-none w-100 btn btn-primary nav-item">
                  <a
                    target="_blank"
                    rel="noopener follow"
                    href="https://social.postify.app/auth/register"
                    class="nav-link"
                    data-wpel-link="internal"
                    >Login</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <header id="header" style="opacity: 0">
        <div class="container-fluid">
          <nav class="container p-0 navbar navbar-expand-lg align-items-center">
            <div
              class="d-flex align-items-center justify-content-between w-100"
            >
              <div class="">
                <a
                  href="/"
                  title="Postify"
                  data-wpel-link="internal"
                  target="_self"
                  rel="follow"
                >
                  <img src="/fonts/PostifyL.svg" alt="" />
                </a>
              </div>

              <div class="collapse navbar-collapse justify-content-center">
                <ul id="topmenu" class="navbar-nav align-items-center">
                  <li class="nav-item">
                    <a
                      href="/"
                      class="nav-link"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <div class="custom-dropdown">
                      <div class="d-flex align-items-center">
                        <a
                          class="custom-dropdown-toggle nav-link"
                          id="featuresDropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          <!-- dropdown-toggle -->
                          Product
                        </a>
                        <svg
                          fill="#525979"
                          height="6"
                          viewBox="0 0 11 7"
                          width="11"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="m5.414 6.414c-.256 0-.512-.098-.707-.293l-4.707-4.707 1.414-1.414 4 4 4-4 1.414 1.414-4.707 4.707c-.195.195-.451.293-.707.293z"
                            fill="#525979"
                          />
                        </svg>
                      </div>

                      <div
                        class="custom-dropdown-menu"
                        aria-labelledby="featuresDropdown"
                      >
                        <div class="drop-menu">
                          <div>
                            <div class="navbar_child">
                            <a
                              href="/publish"
                              class="d-flex align-items-center justify-content-center"
                            >
                              <img
                                height="30px"
                                width="30px"
                                src="/images/publish.png"
                                alt=""
                              />

                              <div  class="custom-dropdown-item ">
                                <strong>Publisher</strong>
                                
                              </div>
                            </a> 
                            </div>
                                                      
                            <div class="navbar_child">
                              <a 
                                                          href="/analytics/"
                                                          class="d-flex align-items-center"
                                                        >
                                                          <img
                                                            height="30px"
                                                            width="30px"
                                                            src="/images/analiz.png"
                                                            alt=""
                                                          />

                                                          <div class="custom-dropdown-item">
                                                            <strong>Analytics</strong>
                                                            
                                                          </div>
                                                        </a>  
                            </div>
                          </div>
                
                          <div>
                            <div class="navbar_child ">
                              <a
                              href="/customer-engagement/"
                              class=" d-flex align-items-center"
                            >
                              <img
                                height="30px"
                                width="30px"
                                src="/images/Plan.png"
                                alt=""
                              />

                              <div class="custom-dropdown-item">
                                <strong>Customer Engagement</strong>
                                
                              </div>
                            </a>
                            </div>
                            <div class="navbar_child ">
                              <a style="margin-left: -5px;"
                              href="/ai-creativity/"
                              class=" d-flex align-items-center"
                            >
                              <img
                                height="30px"
                                width="30px"
                                src="/images/ai.png"
                                alt=""
                              />

                              <div class="custom-dropdown-item">
                                <strong>AI Creativity Content</strong>
                                
                              </div>
                            </a>
                            </div>                         
                          </div>

                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item">
                    <div class="custom-dropdown">
                      <div class="d-flex align-items-center">
                        <a
                          class="custom-dropdown-toggle nav-link"
                          id="customFeaturesDropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          Channels
                        </a>
                        <svg
                          fill="#525979"
                          height="6"
                          viewBox="0 0 11 7"
                          width="11"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="m5.414 6.414c-.256 0-.512-.098-.707-.293l-4.707-4.707 1.414-1.414 4 4 4-4 1.414 1.414-4.707 4.707c-.195.195-.451.293-.707.293z"
                            fill="#525979"
                          />
                        </svg>
                      </div>

                      <div
                        class="custom-dropdown-menu"
                        aria-labelledby="customFeaturesDropdown"
                      >
                        <div class="drop-menu">
                          <div>
                            <div  class="navbar_child">
                              <a
                                href="/chanels/instagram/"
                                class=" d-flex align-items-center"
                              >
                                <img
                                  height="30px"
                                  width="30px"
                                  src="/images/instagramm.png"
                                  alt=""
                                />

                                <div class="custom-dropdown-item">
                                  <strong>Instagram</strong>
                                </div>
                              </a> 
                            </div>
                            
                            <div  class="navbar_child">
                              <a style="margin-left: -6px;"
                              href="/chanels/facebook/"
                              class="d-flex  align-items-center"
                            >
                              <img
                                height="30px"
                                width="30px"
                                src="/images/facebook-navbar.png"
                                alt=""
                              />

                              <div class="custom-dropdown-item">
                                <strong>Facebook</strong>
                              </div>
                            </a>
                            </div>
                                                      
                          </div>

                          <div>
                            <div  class="navbar_child">
                             <a style="margin-left: -6px;"
                              href="/chanels/twitter/"
                              class=" d-flex align-items-center"
                            >
                              <img
                                height="30px"
                                width="30px"
                                src="/images/twitterr.png"
                                alt=""
                              />

                              <div class="custom-dropdown-item">
                                <strong> Twitter</strong>
                              </div>
                            </a> 
                            </div>
                            
<div  class="navbar_child">
 <a
                              href="/chanels/linkedin/"
                              class=" d-flex align-items-center"
                            >
                              <img
                                height="30px"
                                width="30px"
                                src="/images/linkedin-navbar.png"
                                alt=""
                              />

                              <div class="custom-dropdown-item">
                                <strong>Linkedln </strong>
                              </div>
</a>
</div>
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a
                      href="/pricing/"
                      class="nav-link"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Pricing</a
                    >
                  </li>
                  <li class="d-lg-none w-100 btn btn-primary nav-item">
                    <a
                      target="_blank"
                      rel="noopener follow"
                      href="https://social.postify.app/auth/login"
                      class="nav-link"
                      data-wpel-link="internal"
                      >Login</a
                    >
                  </li>
                </ul>
              </div>
              <div class="d-flex align-items-center">
                <a
                  href="https://social.postify.app/auth/login"
                  class="d-none d-lg-inline-block btn btn-outline-primary me-10"
                  title="Login"
                  target="_blank"
                  rel="nofollow noopener noreferrer"
                  data-wpel-link="internal"
                >
                  Login
                </a>
                <a
                  href="https://social.postify.app/auth/register"
                  class="btn btn-primary"
                  title="Start for free"
                  target="_blank"
                  rel="nofollow noopener noreferrer"
                  data-wpel-link="internal"
                >
                  Start for free
                </a>
                <button
                  type="button"
                  class="hamburger d-lg-none"
                  data-bs-toggle="modal"
                  data-bs-target="#mobileMenu"
                >
                  <span class="hamburger-inner"></span>
                  <span class="visually-hidden">Toggle menu</span>
                </button>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <main class="">
        <div class="container-fluid">
          <h1
            class="has-gradient text-center text-dark-1 mt-50 mb-50 mw-100 line-1"
            id="h-14-day-free-trial"
          >
            14-Day <strong>Free Trial</strong>
          </h1>
          <div class="respona-list text-center">
            <ul
              class="m-0 p-0 d-inline-block d-lg-flex flex-wrap justify-content-lg-center"
            >
              <li
                class="d-flex text-start align-items-center col-auto px-lg-5 mb-4"
              >
                <img
                  width="35"
                  height="35"
                  alt="No-hassle cancellation"
                  data-src="https://respona.com/wp-content/uploads/cancel.svg"
                  class="me-10 lazyload"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                />
                <span class="font-medium">No-hassle cancellation</span>
              </li>
              <li
                class="d-flex text-start align-items-center col-auto px-lg-5 mb-4"
              >
                <img
                  width="35"
                  height="35"
                  alt="Transparent pricing"
                  data-src="https://respona.com/wp-content/uploads/pricing.svg"
                  class="me-10 lazyload"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                />
                <span class="font-medium">Transparent pricing</span>
              </li>
              <li
                class="d-flex text-start align-items-center col-auto px-lg-5 mb-4"
              >
                <img
                  width="35"
                  height="35"
                  alt="Custom onboarding session"
                  data-src="https://respona.com/wp-content/uploads/session.svg"
                  class="me-10 lazyload"
                  src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                />
                <span class="font-medium">Custom onboarding session</span>
              </li>
            </ul>
          </div>
          <div
            class="respona-pricing respona-pricing--short respona-pricing--flat mt-50 mt-lg-100"
            id="respona-pricing"
          >
            <div class="container p-0">
              <div class="respona-pricing-plans">
                <div class="row">
                  <div class="col-lg-6 pe-lg-4  mb-4">
                    <div class="respona-pricing-plan bg-primary flex-grow-1">
                      <h2
                        class="respona-pricing-plan-title text-center font-medium text-white"
                        v-html="strings.starter"
                      >
                      Standard
                      </h2>
                      <p
                        class="respona-pricing-plan-description text-center font-medium text-white mb-5"
                        v-html="strings.starterDescription"
                      >
                      Basic features for teams who want to organize their social media management.
                      </p>
                      <p class="mb-0 text-center text-white">
                        <strong
                          class="respona-pricing-plan-price font-medium"
                          v-html="currentPlan == 'monthly' ? settings.monthly.starterTotal : settings.yearly.starterTotal"
                          >$39/mo</strong
                        >
                      </p>
                      <p
                        class="respona-pricing-plan-notice text-center text-white text-uppercase font-bold"
                        v-html="currentPlan == 'monthly' ? settings.monthly.starterBilled : settings.yearly.starterBilled"
                      >
                        BILLED MONTHLY
                      </p>
                      <!-- <ul class="mx-auto my-5 p-0">
                        <li
                          class="d-flex align-items-start text-white mb-4"
                          v-if="!planFeatures"
                        >
                          <p class="mb-0">
                            <strong class="font-medium">
                              1 email account
                            </strong>
                            <span class="font-medium">$49/additional</span>
                          </p>
                        </li>
                        <li
                          class="d-flex align-items-start text-white mb-4"
                          v-if="!planFeatures"
                        >
                          <p class="mb-0">
                            <strong class="font-medium">
                              5000 credits/mo
                            </strong>
                            <span class="font-medium">$0.01/additional</span>
                          </p>
                        </li>
                        <li
                          v-for="(feature, starterFeatureIndex) in planFeatures"
                          :key="'starterFeatures' + starterFeatureIndex"
                          class="d-flex align-items-start text-white mb-4"
                          v-cloak
                        >
                          <p class="mb-0">
                            <strong class="font-medium">
                              {{ feature.title }}
                              <i
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-trigger="click hover focus"
                                data-bs-html="true"
                                :title="feature.tooltip"
                                v-if="feature.tooltip"
                                class="respona-pricing-tooltip respona-pricing-tooltip--faded d-none d-lg-inline-block"
                              >
                                <svg
                                  fill="none"
                                  height="13"
                                  viewBox="0 0 13 13"
                                  width="13"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="m6.5 0c-3.58421 0-6.5 2.91579-6.5 6.5 0 3.5842 2.91579 6.5 6.5 6.5 3.5842 0 6.5-2.9158 6.5-6.5 0-3.58421-2.9158-6.5-6.5-6.5zm-.27083 10.2917c-.4485 0-.8125-.36403-.8125-.81253s.364-.8125.8125-.8125.8125.364.8125.8125-.364.81253-.8125.81253zm2.33512-4.80624c-.16737.26812-.48533.56929-.95441.90404-.75888.56117-.7383.68575-.7383 1.19383h-1.33087c0-.39704-.00867-.702.20583-1.07304.13704-.23779.38838-.49075.75346-.75833.43821-.31308.86396-.61479.86396-1.14021 0-.49237-.42142-.66787-.91379-.66787-.50213 0-1.07467.16412-1.71763.49237l-.54762-1.09958c1.16837-.65488 3.0122-.95117 4.02025-.13054.73991.60287.74425 1.66291.35912 2.27933z"
                                    fill="#ffffff"
                                  />
                                </svg>
                              </i>
                            </strong>
                            <span
                              v-if="feature.desc"
                              class="font-medium"
                              v-html="feature.desc"
                            ></span>
                          </p>
                        </li>
                      </ul> -->
                      <p class="mb-4">
                        <a
                          class="d-block btn btn-outline-primary w-100 mb-2 mx-auto"
                          href="https://social.postify.app"
                          target="_blank"
                          rel="nofollow noopener noreferrer"
                          v-html="strings.signup"
                          data-wpel-link="internal"
                        >
                          Get a demo
                        </a>
                      </p>
                    
                    </div>
                  </div>
                  <div class="col-lg-6 ps-lg-4  mb-4">
                    <div class="respona-pricing-plan flex-grow-1">
                      <h3
                        class="respona-pricing-plan-title text-center font-medium"
                        v-html="strings.unlimited"
                      >
                      Professional
                      </h3>
                      <p
                        class="respona-pricing-plan-description text-center font-medium text-dark-2 mb-5"
                        v-html="strings.unlimitedDescription"
                      >
                       
                      Extensive features for teams who need strong processes and want to save a lot of time.
                      </p>
                      <strong
                        class="respona-pricing-plan-price d-block text-center text-primary font-medium mb-0"
                        v-html="currentPlan == 'monthly' ? settings.monthly.unlimitedTotal : settings.yearly.unlimitedTotal"
                        >$79/mo</strong
                      >
                      <p
                        class="respona-pricing-plan-notice text-center text-dark-3 text-uppercase font-bold"
                        v-html="currentPlan == 'monthly' ? settings.monthly.unlimitedBilled : settings.yearly.unlimitedBilled"
                      >
                        BILLED MONTHLY
                      </p>
                      <!-- <ul class="mx-auto my-5 p-0">
                        <li
                          class="d-flex align-items-start mb-4"
                          v-if="!planFeatures"
                        >
                          <p class="mb-0">
                            <strong class="font-medium">
                              Unlimited email accounts
                            </strong>
                          </p>
                        </li>
                        <li
                          class="d-flex align-items-start mb-4"
                          v-if="!planFeatures"
                        >
                          <p class="mb-0">
                            <strong class="font-medium">
                              600,000 credits/yr
                            </strong>
                            <span class="font-medium">$0.008/additional</span>
                          </p>
                        </li>
                        <li
                          v-for="(feature, unlimitedFeatureIndex) in planFeatures"
                          :key="'unlimitedFeatures' + unlimitedFeatureIndex"
                          class="d-flex align-items-start mb-4"
                          v-cloak
                        >
                          <p class="mb-0">
                            <strong class="font-medium">
                              {{ feature.unlimited_title }}
                              <i
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                data-bs-trigger="click hover focus"
                                data-bs-html="true"
                                :title="feature.unlimited_tooltip"
                                v-if="feature.unlimited_tooltip"
                                class="respona-pricing-tooltip d-none d-lg-inline-block"
                              >
                                <svg
                                  fill="none"
                                  height="13"
                                  viewBox="0 0 13 13"
                                  width="13"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="m6.5 0c-3.58421 0-6.5 2.91579-6.5 6.5 0 3.5842 2.91579 6.5 6.5 6.5 3.5842 0 6.5-2.9158 6.5-6.5 0-3.58421-2.9158-6.5-6.5-6.5zm-.27083 10.2917c-.4485 0-.8125-.36403-.8125-.81253s.364-.8125.8125-.8125.8125.364.8125.8125-.364.81253-.8125.81253zm2.33512-4.80624c-.16737.26812-.48533.56929-.95441.90404-.75888.56117-.7383.68575-.7383 1.19383h-1.33087c0-.39704-.00867-.702.20583-1.07304.13704-.23779.38838-.49075.75346-.75833.43821-.31308.86396-.61479.86396-1.14021 0-.49237-.42142-.66787-.91379-.66787-.50213 0-1.07467.16412-1.71763.49237l-.54762-1.09958c1.16837-.65488 3.0122-.95117 4.02025-.13054.73991.60287.74425 1.66291.35912 2.27933z"
                                    fill="#8e95aa"
                                    fill-opacity=".57"
                                  />
                                </svg>
                              </i>
                            </strong>
                            <span
                              v-if="feature.unlimited_desc"
                              class="font-medium"
                              v-html="feature.unlimited_desc"
                            ></span>
                          </p>
                        </li>
                      </ul> -->
                      <p class="mb-4">
                        <a
                          class="d-block btn btn-primary w-100 mb-2 mx-auto"
                          href="https://social.postify.app"
                          target="_blank"
                          rel="nofollow noopener noreferrer"
                          v-html="strings.demo"
                          data-wpel-link="internal"
                        >
                          Get a demo
                        </a>
                      </p>
                      <!-- <p
                        class="respona-pricing-plan-footer text-center text-dark-3 text-uppercase font-bold mb-0"
                        v-html="strings.all"
                      >
                        ALL FEATURES INCLUDED
                      </p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
   
          </div>
   
          <div >
              <h2 class="has-text-align-center text-center mb-50" id="h-faq">
            FAQ
          </h2>
          <div class="respona-faq mt-100 mb-100 d-flex justify-content-center align-items-center">
            <div style="width: 80%; " class=" p-0">
              <div  class="accordion" id="respona-accordion-64510cbdc351e">
                <div class="accordion-item">
                  <h4
                    class="accordion-header"
                    id="respona-heading-64510cbdc351e-0"
                  >
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#respona-collapse-64510cbdc351e-0"
                      aria-expanded="true"
                      aria-controls="respona-collapse-64510cbdc351e-0"
                    >
                      <span>What can I do with the Postify app??</span>
                    </button>
                  </h4>
                  <div
                    id="respona-collapse-64510cbdc351e-0"
                    class="accordion-collapse collapse show"
                    aria-labelledby="respona-heading-64510cbdc351e-0"
                    data-bs-parent="#respona-accordion-64510cbdc351e"
                  >
                    <div class="accordion-body">
                      <p>
                        With Postify, you can manage your social media accounts,
                        review analytics such as follower count and engagement
                        rates, schedule posts, and create post content with
                        artificial intelligence.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4
                    class="accordion-header"
                    id="respona-heading-64510cbdc351e-1"
                  >
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#respona-collapse-64510cbdc351e-1"
                      aria-expanded="false"
                      aria-controls="respona-collapse-64510cbdc351e-1"
                    >
                      <span
                        >How do I determine when to share my posts in the
                        Postify app?</span
                      >
                    </button>
                  </h4>
                  <div
                    id="respona-collapse-64510cbdc351e-1"
                    class="accordion-collapse collapse"
                    aria-labelledby="respona-heading-64510cbdc351e-1"
                    data-bs-parent="#respona-accordion-64510cbdc351e"
                  >
                    <div class="accordion-body">
                      <p>
                        You can determine when your post will be shared by
                        selecting the posting time type while creating a post.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4
                    class="accordion-header"
                    id="respona-heading-64510cbdc351e-2"
                  >
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#respona-collapse-64510cbdc351e-2"
                      aria-expanded="false"
                      aria-controls="respona-collapse-64510cbdc351e-2"
                    >
                      <span
                        >How do I reply to inbox messages in the Postify app?
                      </span>
                    </button>
                  </h4>
                  <div
                    id="respona-collapse-64510cbdc351e-2"
                    class="accordion-collapse collapse"
                    aria-labelledby="respona-heading-64510cbdc351e-2"
                    data-bs-parent="#respona-accordion-64510cbdc351e"
                  >
                    <div class="accordion-body">
                      <p>
                        <span style="font-weight: 400"
                          >By viewing the messages in the inbox, you can reply
                          directly from the app.
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4
                    class="accordion-header"
                    id="respona-heading-64510cbdc351e-3"
                  >
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#respona-collapse-64510cbdc351e-3"
                      aria-expanded="false"
                      aria-controls="respona-collapse-64510cbdc351e-3"
                    >
                      <span
                        >How does artificial intelligence in the Postify app
                        create content?</span
                      >
                    </button>
                  </h4>
                  <div
                    id="respona-collapse-64510cbdc351e-3"
                    class="accordion-collapse collapse"
                    aria-labelledby="respona-heading-64510cbdc351e-3"
                    data-bs-parent="#respona-accordion-64510cbdc351e"
                  >
                    <div class="accordion-body">
                      <p>
                        <span style="font-weight: 400"
                          >The artificial intelligence in the Postify app uses
                          keywords you specify, brand name and other
                          customization options to create relevant and
                          interactive content for the social media platforms you
                          choose.</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4
                    class="accordion-header"
                    id="respona-heading-64510cbdc351e-4"
                  >
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#respona-collapse-64510cbdc351e-4"
                      aria-expanded="false"
                      aria-controls="respona-collapse-64510cbdc351e-4"
                    >
                      <span
                        >How long does it take to create content with artificial
                        intelligence in the Postify app?</span
                      >
                    </button>
                  </h4>
                  <div
                    id="respona-collapse-64510cbdc351e-4"
                    class="accordion-collapse collapse"
                    aria-labelledby="respona-heading-64510cbdc351e-4"
                    data-bs-parent="#respona-accordion-64510cbdc351e"
                  >
                    <div class="accordion-body">
                      <p>
                        <span style="font-weight: 400"
                          >The AI content creation process in the Postify app
                          typically takes a few seconds to a few minutes,
                          depending on the customization options you specify and
                          the type of content you want.</span
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </main>
    </div>
    <footer id="footer">
      <div style="padding: 50px 0px" class="container-fluid">
        <div class="container p-0">
          <div class="rowi">
            <div class="text-center text-lg-start mb-lg-0 mb-100">
              <p style="margin-bottom: 20px;">
                <a
                  href="/"
                  title="Postify"
                  data-wpel-link="internal"
                  target="_self"
                  rel="follow"
                >
                  <img
                    height="60"
                    width="200"
                    src="/images/postify_white.png"
                    alt=""
                  />
                </a>
              </p>
              <p>
                 <div style="margin-bottom:15px; "   >
                
                <a
                  class="footer-link"
                 
                  href="https://ron.digital/"
                  >Ron Digital</a
                >
                <strong style="padding: 0px 5px 0px 5px">|</strong>

        
                <a class="footer-link" href="/privacy-policy/">Privacy & Policy</a>
              </div>
              </p>
             
             
              <ul 
                class="social d-flex justify-content-center justify-content-lg-start list-unstyled p-0 m-0"
              >
                <li>
                  <a
                    href="https://www.instagram.com/ron.digital/"
                    title="Facebook"
                    target="_blank"
                    rel="nofollow noopener noreferrer external"
                    data-wpel-link="external"
                  >
                    <img
                    
                      class="skip-lazy"
                      src="/fonts/instagram.svg"
                      alt="Instagram"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="https://tr.linkedin.com/company/ron-digital"
                    title="LinkedIn"
                    target="_blank"
                    rel="nofollow noopener noreferrer external"
                    data-wpel-link="external"
                  >
                    <img
                      class="skip-lazy"
                      src="/fonts/linkedin.svg"
                      alt="LinkedIn"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
                <li>
                  <a
                    href="https://twitter.com/RonDigitall"
                    title="Twitter"
                    target="_blank"
                    rel="nofollow noopener noreferrer external"
                    data-wpel-link="external"
                  >
                    <img
                      class="skip-lazy"
                      src="/fonts/twitter.svg"
                      alt="Twitter"
                      width="24"
                      height="24"
                    />
                  </a>
                </li>
             
              </ul>
              <p style="margin-top:15px;" >© All rights reserved.</p>
              
              
           
            </div>

            <div class="widget text-lg-start mb-lg-0 mb-100">
              <h4 class="widget-title text-uppercase font-bold mb-20">
                Use cases
              </h4>

              <div class="menu-use-cases-container">
                <ul id="menu-use-cases" class="menu">
                  <li>
                    <a
                      href="/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Home</a
                    >
                  </li>
                  <li>
                    <a
                      href="/pricing/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Pricing</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://social.postify.app/auth/login"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Login</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://social.postify.app/auth/register"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Start Free Trial</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="widget text-lg-start mb-lg-0 mb-100">
              <h4 class="widget-title text-uppercase font-bold mb-20">
                Product
              </h4>
              <div class="menu-legal-container">
                <ul id="menu-legal" class="menu">
                  <li>
                    <a
                      href="/publish/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Publisher</a
                    >
                  </li>
                  <li>
                    <a
                      href="/analytics/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Analytics</a
                    >
                  </li>
                  <li>
                    <a
                      href="/customer-engagement/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Customer Engagement</a
                    >
                  </li>
                  <li>
                    <a
                      href="/ai-creativity/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >AI Creativity Content</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="widget text-lg-start mb-lg-0 mb-100">
              <h4 class="widget-title text-uppercase font-bold mb-20">
                Channels
              </h4>
              <div class="menu-legal-container">
                <ul id="menu-legal" class="menu">
                  <li>
                    <a
                      href="/chanels/instagram/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Instagram</a
                    >
                  </li>
                  <li>
                    <a
                      href="/chanels/facebook/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Facebook</a
                    >
                  </li>
                  <li>
                    <a
                      href="/chanels/twitter/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >Twitter</a
                    >
                  </li>
                  <li>
                    <a
                      href="/chanels/linkedin/"
                      data-wpel-link="internal"
                      target="_self"
                      rel="follow"
                      >LinkedIn</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center" >
        
        
      </div>
    </footer>
    <div
      class="respona-modal modal fade"
      id="modalLeave"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content d-flex">
          <div class="modal-header">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="text-center">
              <h2 class="text-dark-1 font-semi-bold mb-2 mt-lg-30">
                Before you leave
              </h2>
              <p class="lead">Get a free personalized demo</p>

              <div
                class="calendly-inline-widget"
                data-url="https://calendly.com/respona/demo?hide_gdpr_banner=1&text_color=111a45&primary_color=251fb6"
              ></div>
              <script type="responascript" src="/js/widget.js" async></script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/postify-lazy-scripts.js" type="0d64ef34186e113f922cddf1-text/javascript"></script>
    <script src="/js/ScrollMagic.min.js" id="respona-scrollMagic-js" type="0d64ef34186e113f922cddf1-text/javascript"></script>
    <script src="/js/homepage.js" id="respona-homepage-js" type="0d64ef34186e113f922cddf1-text/javascript"></script>
    <script src="/js/bootstrap.min.js"  id="bootstrap-js"  type="0d64ef34186e113f922cddf1-text/javascript"></script>
    <script src="/js/main.js" id="respona-script-js"  type="0d64ef34186e113f922cddf1-text/javascript" async></script>
    <script src="/js/smush-lazy-load.min.js"  id="smush-lazy-load-js" type="0d64ef34186e113f922cddf1-text/javascript" ></script>
    <script  src="/js/player.js" id="respona-vimeo-js" type="0d64ef34186e113f922cddf1-text/javascript"></script>
    <script src="/js/flickity.pkgd.min.js" id="respona-flickity-js" type="0d64ef34186e113f922cddf1-text/javascript"></script>
    <script id="respona-flickity-js-after" type="0d64ef34186e113f922cddf1-text/javascript" ></script>
    <script src="/js/jquery.scrollTo.min.js" id="respona-scrollTo-js" type="0d64ef34186e113f922cddf1-text/javascript"></script>
    <script src="/js/rocket-loader.min.js" data-cf-settings="0d64ef34186e113f922cddf1-|49" defer ></script>
    <script src="/js/jquery.min.js" id="jquery-core-js" type="0d64ef34186e113f922cddf1-text/javascript"></script>
    <script src="/js/jquery-migrate.min.js" id="jquery-migrate-js"  type="0d64ef34186e113f922cddf1-text/javascript" ></script>
  </body>
</html>
